@{
    @: this is rust code blocks text line @self.data and data

    let s = "'<script/>'";

    @: this is escaped: @s
    @: this is not escaped: @#s

    <text>
        this is rust code blocks text block @self.data and data
        heyy @self.my_func()
        this is escaped: @s
        this is not escaped: @#s
    </text>

    fn inline_function() -> String {
        "inline function".to_string()
    }

    for i in 0..10 {
        println!("Item {}", i);
        @: @i
    }

    let mut show_array = |arr: [i32;5]| -> ::std::fmt::Result {
        for i in arr {
            @: @i
        }

        Ok(())
    };

    let x = 5;
    let mut arr: [i32;5] = [1,2,3,4,0];
    arr[4] = x;
    show_array(arr)?;

    let data = 42;
    let result = match data {
        42 => data,
        _ => 0,
    };
    @: @result
}