@use "components/Card.rs.html" as Card;

<Card/>

<title>@self.title</title>
<div>
    @if self.title == "Hello" {
        <p>myvar is true</p>
    } else {
        <p>myvar is false</p>
    }
</div>
<Card title="hello" footer=@self.value>
    <p>heyy</p>
    <p>value: @self.value </p>
    @if abc {
    <p>abc is true</p>
    }
</Card>

<!DOCTYPE html>
<html lang="en">
<head>

    @use "Card.rs.html" as Card;
    @use "SideBar.rs.html"
    @use "Navbar.rs.html";

    @if self.for_escape {
        <p>for_escape is true</p>
    } else {
        <p>for_escape is false</p>
    }

    @merhaba_dunya()

    @Card(title: "Card Title", footer: "Card Footer", abc: {
        <p for_escape = @&self.for_escape>
            heyy
        </p>
    }){}

    @Card(title: 4.53, footer: 543, def: true, x: @self.value, y: @(3 + 5)){
        <p>hellooo</p>
        @self.title
    }


    <meta charset="UTF-8">
    <title>@self.title</title>
</head>
<body>
    <Navbar for_escape = @&self.for_escape>
        <p>oooo</p>
        heyy
    </Navbar>
    <p>value: @self.value </p>
    this is card:
    <Card title="hello" footer = @self.value >
        this is card content
        <p>heyy</p>
        <p>value: @self.value </p>
        @if abc {
        <p>abc is true</p>
        }

    </Card>

    <br/>
    <hr/>
    <br/>

    <SideBar content = {
             this is content:
            <p>heyy</p>
            <p>value: @self.value</p>
            @if abc {
                <p>abc is true</p>
                }
            }
            _unused ="unused"
    />



</body>
</html>
