@time("2023-11-20T10:30:00Z").pretty()
@if true {}

@child_content
@use "Card.rs.html" as Card

<p>merhaba <b>this</b></p>

@use "Card.rs.html" as Card

@{

  let x = 5;
  let y = 10;
  println!("{}", x + y);

  fn inline_function() -> String {
    "inline function".to_string()
  }
}

@time("2023-1:30:00Z")
@time("2023-11-20T10:30:00Z").pretty()
@time("2023-11-20T10:30:00Z").pretty().format("%b %d, %Y")
@time("2023-11-20T10:30:00Z").date()
@time("2023-11-20T10:30:00Z").time()

@inline_function()

<script type="text/javascript">
  let users = @json(&self.users);
  @json_let("users_let", &self.users);

  @if self.x == 5 {
    <div>heyy</div>
  }

  <p>merhaba</p>

  <Card>
  </Card>

  <Card hey="merhaba" />

  let x = 45;

</script>

@#self.title
@(3+5)
@("Hello, world! <script>alert('hello')</script>")

<Card title="okayy" footer=true/>

@raw {
  @if (x > 5) { print("hey"); }
  <div>
    <h2>{{ message }}</h2>
    <p>Count value: {{ count }}</p>
  </div>
  {{-- Buttons and event listeners --}}
  <button v-on:click="increment">Inc (+)</button>
  <button @click="decrement">Dec (-)</button>
}

@if self.title == "Hello" {
  <p>myvar is true</p>
} else {
  <p>myvar is false</p>
}

<Card title=@x footer=false prop3="hey" prop4={<p>what is this</p>}>
  <p>hello</p>
  <p>world</p>
  @if true {
    <p>say something</p>
  }

</Card>

@match self.card_count {
  0 => <div>i</div>,
  1 => {
    <div>hell @self.card_count looo</div>
    <p>hello world</p>

    @if self.card_count > 0 {
      <p>Count is greater than 0</p>
    } else {
      <p>Count is not greater than 0</p>
    }
  },
  2 => <p>hel,_..loo</p>,
  3 => self.card_count,
  _ => <p>aa=>,{..a</p>,
}

@for user in &self.users {
  <p>User @user.name</p>
  <p>User @user.age</p>
  <br/>
}

@* this is comment bro *@

<div>
  <h1>Home Page @self.get()</h1>
  <p>Welcome to the home page.</p>
  <hr>
</div>
