@match self.value {
    0 => <p>this is zero</p>,
    1 => <p>this is one</p>,
    2 => <p>this is two</p>,
    _ => <p>this is bigger than two</p>,
}

@match &self.data {
    Some(s) => {<p>this is data @s</p>},
    None => <p>this is none</p>,
}

@match self.value {
    0 => {<p>this is zero: @self.value</p>},
    1 => <p>this is one</p>,
    2 => self.value,
    _ => <p>this is bigger than two</p>,
}

@match self.value {
    0 | 1 => self.value,
    2 => <p>this is two</p>,
    _ => <p>this is bigger than two</p>,
}

@for i in 0..10 {
    @match i {
        0 | 1 => (i * 3),
        2 => continue,
        3 => <p>this is three</p>,
        4 => 555,
        9 => {},
        10 => break,
        _ => i,
    }
}