@if self.abc {
    <p>jeyy</p>
}

@* this is comment block bro *@

@self.x
@hey.bac().sefl
@section_body()

@match self.x {
    5 => {
        <div>ooo</div>
    },
    _ => <p>hey</p>
}

@if true {
    <a>fsd</a>
} else {
    <div class="hey">
        @if hey {
            <div class="merhaba">
                abc
            </div>
        }
    </div>
}

@section abc {
    <p></p>
    @if heyy {
        <div>
            <p>merhaba</p>
        </div>
    }
}

<div>jett</div> 



@{
    if self.k == 5 {
        println!("what the fuck");
    }
}
